[submodule "dotbot"]
	path = dotbot
	url = http://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "plugins/dotbot-sudo"]
	path = plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "plugins/dotbot_plugin_aptget"]
	path = plugins/dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
[submodule "plugins/dotbot-git"]
	path = plugins/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
